.laurel-btn {
background: #43266f;
color: white;
padding: 8px;
font-weight: bold;
}

/* article and press slider color */
.post-type-archive-portfolio .da-thumbs article {
background: rgba(67,38,111,0.7);
}

.post-type-archive-portfolio .da-thumbs .hover-excerpt {
font-size:14px;
}


.laurel-btn:hover {
background: rgba(0, 0, 0, 0.4);
color:white;
}

.header-style2 #logo img {
    max-height: 150px;
}

.mailchimp-hide .mailchimp-desc,
.mailchimp-hide .mailchimp-label {
display:none;
}

.agenda .event {
border-bottom:none !important;
}
.view-container-border{
background:#e5e5e5 !important;
}
.agenda .date-label {
background: #e5e5e5 !important;
}

.ccchildpage .cc-child-pages-thumb {
height:200px;
width:300px;
float:left;
margin-right:10px;
}

.ccchildpage .ccpages_excerpt,
.ccchildpage .ccpages_more {
font-size:100%;
}

#sidebar .StaticEvents .textwidget {
border:0px solid white;
}

#slider .rslides-content.style3 .featured-link a, .thinkupslider-sc .rslides-content.style3 .featured-link a {
    background: #43266f;
    border: none;
}

.laurels-purple span,
.laurels-purple h1,
.laurels-purple h2,
.laurels-purple h3,
.laurels-purple h4,
.laurels-purple h5,
.laurels-purple h6,
.laurels-purple p,
.laurels-purple a {
color: #43266f !important;
}

.header-style2 #header .header-links > ul > li > a {
    font-size: 15px;
    text-transform: uppercase;
}

#filter.portfolio-filter li a.selected {
color:white;
}

/* #rslides1_s0 {
    width:427px;
    height:240px;
    position: relative;
}
#filter.portfolio-filter {
display: none;
}

*/
/* Hide new grid blog layouts - IN DEVELOPMENT */
.blog-style2 .blog-grid.column-1 .blog-thumb img {
width: 100%;
}

/* Hide WooCommercec cart menu */
/* .thinkup-demosite #woo-cart-menu {
display: none;
}*/

/* Disable checkout */
/* .thinkup-demosite .woocommerce #payment #place_order {
   pointer-events: none;
   cursor: default;
}*/


@media only screen and (min-width: 768px) {
    /* For desktop: normalize display for portfolio */
; .post-type-archive-portfolio .da-thumbs { overflow:hidden; }
.post-type-archive-portfolio .da-thumbs li, .post-type-archive-portfolio .da-thumbs li > a img { width:275px; height:183px;}
}

p {
font-size:13px;
}

/* Event manager styles */
.tribe-events-event-meta address.tribe-events-address, #tribe-events-content a,
.tribe-events-event-meta address.tribe-events-address, .tribe-events-list .tribe-events-venue-details {
    font-style: normal;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background-color: #43266f;
}

.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper {
max-width:none;
}

.tribe-events-user-recurrence-toggle {
display:none;
}

.events-list.tribe-events-style-full #tribe-events-bar {
display: none;
}
